extends ../layouts/default.jade

block content
    
    main.main.main--investments
        .container
            section.investments__wrapper
                div.row
                    div.col-sm-4
                    
                        div.investments__img__wrapper
                            img.img-responsive.center-block(src="/images/companies/#{company.title}.png")

                    div.col-sm-8
                    
                        div.investments__desc 
                            h2.investments__desc= company.title
                            != company.description
                            
                            a(
                                href="#{company.url}",
                                target="_blank"
                                ) #{company.url}
            hr
    
    
    include ../components/slider.jade
